<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header') %>
	<body style="font-family: sans-serif;">
		
		<div class="container mt-5">
			<div class="card">
				<h2 class="card-header text-center"><%= data.name %></h2>
				<div class="card-body">
					<p class="card-text">
						
						<div>
							<i class="fa-solid fa-temperature-three-quarters"></i> &nbsp;
							Current Temp <b><%= data.main.temp %></b>,
							Min Temp <b><%= data.main.temp_min %></b>,
							Max Temp <b><%= data.main.temp_max %></b>
						</div>
						<br />
						<div>
							<i class="fa-solid fa-droplet"></i> &nbsp;
							Humidity <b><%= data.main.humidity %></b>
						</div>
						<br />
						<div>
							<i class="fa-solid fa-wind"></i> &nbsp;
							Wind Speed <b><%= data.wind.speed %></b>
							Wind Deg <b><%= data.wind.deg %></b>
						</div>
						<br />
						<div>
							<i class="fa-solid fa-earth-americas"></i> &nbsp;
							Country <%= data.sys.country %>
						</div>
						<br />
						<div>
							<i class="fa-solid fa-cloud"></i> &nbsp;
							<%= data.weather[0].main %>
						</div>
						
					</p>
					<div class="text-center">
						<a href="/" class="btn btn-primary w-50 fs-5">Restart</a>
					</div>
				</div>
			</div>
		</div>
		
		<%- include('partials/footer') %>
	</body>
</html>